In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
# Load CSV file (same folder)
df = pd.read_csv("F:/marketing_campaign.csv")

# Preview data
df.head(30)

,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,...,7,0,0,0,0,0,0,3,11,1
1,1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,...,5,0,0,0,0,0,0,3,11,0
2,2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,...,4,0,0,0,0,0,0,3,11,0
3,3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,...,6,0,0,0,0,0,0,3,11,0
4,4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,...,5,0,0,0,0,0,0,3,11,0
5,5,7446,1967,Master,Together,62513.0,0,1,2013-09-09,16,...,6,0,0,0,0,0,0,3,11,0
6,6,965,1971,Graduation,Divorced,55635.0,0,1,2012-11-13,34,...,6,0,0,0,0,0,0,3,11,0
7,7,6177,1985,PhD,Married,33454.0,1,0,2013-05-08,32,...,8,0,0,0,0,0,0,3,11,0
8,8,4855,1974,PhD,Together,30351.0,1,0,2013-06-06,19,...,9,0,0,0,0,0,0,3,11,1
9,9,5899,1950,PhD,Together,5648.0,1,1,2014-03-13,68,...,20,1,0,0,0,0,0,3,11,0
10,10,1994,1983,Graduation,Married,NaN,1,0,2013-11-15,11,...,7,0,0,0,0,0,0,3,11,0
11,11,387,1976,Basic,Married,7500.0,0,0,2012-11-13,59,...,8,0,0,0,0,0,0,3,11,0
12,12,2125,1959,Graduation,Divorced,63033.0,0,0,2013-11-15,82,...,2,0,0,0,0,0,0,3,11,0
13,13,8180,1952,Master,Divorced,59354.0,1,1,2013-11-15,53,...,6,0,0,0,0,0,0,3,11,0
14,14,2569,1987,Graduation,Married,17323.0,0,0,2012-10-10,38,...,8,0,0,0,0,0,0,3,11,0
15,15,2114,1946,PhD,Single,82800.0,0,0,2012-11-24,23,...,3,0,0,1,1,0,0,3,11,1
16,16,9736,1980,Graduation,Married,41850.0,1,1,2012-12-24,51,...,8,0,0,0,0,0,0,3,11,0
17,17,4939,1946,Graduation,Together,37760.0,0,0,2012-08-31,20,...,7,0,0,0,0,0,0,3,11,0
18,18,6565,1949,Master,Married,76995.0,0,1,2013-03-28,91,...,5,0,0,0,1,0,0,3,11,0
19,19,2278,1985,2n Cycle,Single,33812.0,1,0,2012-11-03,86,...,6,0,0,0,0,0,0,3,11,0
20,20,9360,1982,Graduation,Married,37040.0,0,0,2012-08-08,41,...,8,0,0,0,0,0,0,3,11,0
21,21,5376,1979,Graduation,Married,2447.0,1,0,2013-01-06,42,...,1,0,0,0,0,0,0,3,11,0
22,22,1993,1949,PhD,Married,58607.0,0,1,2012-12-23,63,...,8,0,1,0,0,0,0,3,11,0
23,23,4047,1954,PhD,Married,65324.0,0,1,2014-01-11,0,...,4,0,0,0,0,0,0,3,11,0
24,24,1409,1951,Graduation,Together,40689.0,0,1,2013-03-18,69,...,8,0,0,0,0,0,0,3,11,0
25,25,7892,1969,Graduation,Single,18589.0,0,0,2013-01-02,89,...,7,0,0,0,0,0,0,3,11,0
26,26,2404,1976,Graduation,Married,53359.0,1,1,2013-05-27,4,...,7,0,0,0,0,0,0,3,11,0
27,27,5255,1986,Graduation,Single,NaN,1,0,2013-02-20,19,...,1,0,0,0,0,0,0,3,11,0
28,28,9422,1989,Graduation,Married,38360.0,1,0,2013-05-31,26,...,3,0,0,0,0,0,0,3,11,0
29,29,1966,1965,PhD,Married,84618.0,0,0,2013-11-22,96,...,2,0,0,1,0,0,0,3,11,0

In [29]:

# Check structure
df.dtypes
df.isnull().sum()
df.shape
df.describe()

# Convert date column
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], errors='coerce')

In [30]:
# Check duplicates
num_duplicates = df.duplicated().sum()
print("Duplicate rows:", num_duplicates)

Duplicate rows: 0

In [ ]:
# Remove duplicates
cleaned_df = df.drop_duplicates()

# Save cleaned file
cleaned_df.to_csv("marketing_campaign_cleaned.csv", index=False)

#Cleaned file will saved in the same folder where the code file is located